/* reset browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #2e3440;
  color: #d8dee9;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

main {
  padding-top: 2rem;
  margin: 5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  /* background-color: #d8dee920;
  transition: all 0.3s ease-in-out;
  border-radius: 5px; */
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

/* top nav */

header {
  top: 0;
  position: fixed;
  background-color: #2e3440;
  opacity: 1;
  z-index: 100;
  width: 100%;
}
#logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border: 3px solid transparent;
  transition: border 0.6s ease;
  /* box-sizing: border-box; */
}
#logo:hover {
  border: 3px #d8dee920 solid;
  border-width: 3px;
  border-radius: 5px;
}
nav {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
  margin: 0 20px 0 20px;
  padding: 10px;
  border-radius: 5px;
  align-self: center;
  transition: background-color 0.6s ease;
}
li:hover {
  background-color: #d8dee920;
  cursor: pointer;
}

@media (max-width: 768px) {
  ul {
    display: none;
  }
}

/* Accessible anchor jump to main */
.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

/* buttons */

.btn {
  outline: 2px solid #88c0d0;
  background-color: inherit;
  color: #88c0d0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #d8dee920;
  color: #88c0d0;
}
.btn:focus {
  outline: 3px solid #81a1c1;
  color: #88c0d0;
}
.primary-btn {
  background-color: #88c0d0;
  color: #2e3440;
}
.secondary-btn {
  background-color: inherit;
  color: #88c0d0;
}

/* hero */

.hero {
  display: flex;
  flex-direction: column;
}
.intro-1 {
  font-size: 2vw;
  font-weight: 100;
}
.intro-2 {
  font-size: 6vw;
}
.intro-3 {
  font-size: 2vw;
  opacity: 50%;
}
.intro-4 {
  font-size: 2vw;
  padding: 1rem 0 1rem 0;
}
.social-links {
  display: flex;
  gap: 0.5rem;
}
.cta-buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  padding: 3rem 0 3rem 0;
}
/* social icons */
.social-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.social-icon:hover {
  color: #81a1c1;
  transition: color 0.6s ease;
}

/* About */
section {
  display: flex;
}
