/* General */

html {
  scroll-behavior: smooth;
}

body,
h1 {
  background-color: #2e3440;
  color: #d8dee9;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  background-color: #d8dee920;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

section {
  padding-bottom: 10rem;
}

/* buttons */

.btn {
  outline: 2px solid #88c0d0;
  background-color: inherit;
  color: #88c0d0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #d8dee920;
  color: #88c0d0;
}
.btn:focus {
  outline: 3px solid #81a1c1;
  color: #88c0d0;
}
.primary-btn {
  background-color: #88c0d0;
  color: #2e3440;
}
.secondary-btn {
  background-color: inherit;
  color: #88c0d0;
}
