/* mobile first */
@media all {
  /* reset browser defaults */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    margin: 0 auto; /* maring: top-bottom left-right */
    padding: 20px 0 0 0;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: #20252e;
    color: #d8dee9;
    font-family: 'Inter', sans-serif;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    color: #88c0d0;
    font-size: 0.875rem;
    font-weight: normal;
  }

  /* General -------------------------------------- 
    */
  html {
    scroll-behavior: smooth;
  }

  main {
    margin: 3rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    /* background-color: #d8dee920;
      transition: all 0.3s ease-in-out;
      border-radius: 5px; */
  }

  #profile-pic {
    /* width: 25rem; */
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    padding: 20px;
  }

  footer {
    background-color: #2e3440;
    display: flex;
    justify-content: center;
    padding: 1.2rem 0 1.2rem 0;
  }
  footer > p {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 0;
    /* padding-left: 0; */
  }

  li {
    list-style-type: circle;
    margin: 0 20px 0 20px;
    padding: 4px;
  }

  li:hover {
    cursor: default;
    background-color: inherit;
  }

  hr {
    opacity: 20%;
    width: 30%;
    position: relative;
  }

  .keyword {
    color: #88c0d0;
    text-decoration: underline;
  }

  .intro-1 {
    margin-bottom: 0;
  }
  .intro-2 {
    margin-bottom: 0;
  }
  .intro-3 {
    margin-bottom: 0.2rem;
  }
  .intro-4 {
    margin-bottom: 0.2rem;
    opacity: 70%;
  }

  /* top nav -------------------------------------- 
    */

  header {
    background-color: #2e3440;
    opacity: 1;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  #logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border: 3px solid transparent;
    transition: border 0.6s ease;
    /* box-sizing: border-box; */
  }
  #logo:hover {
    border: 3px #d8dee920 solid;
    border-width: 3px;
    border-radius: 5px;
  }
  /* .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler-icon {
    filter: brightness(0) invert(1);
  } */
  nav {
    display: flex;
    justify-content: stretch;
  }
  #nav-ul {
    display: flex;
  }
  #nav-ul > li {
    list-style-type: none;
    border-radius: 5px;
    align-self: center;
    transition: background-color 0.6s ease;
  }
  #nav-ul > li:hover {
    background-color: #d8dee920;
    cursor: pointer;
  }

  #hamburger {
    display: none;
  }
  .nav-link {
    color: #d8dee9;
  }
  .active {
    color: #d8dee9;
  }

  /* Accessible anchor jump to main -------------------------------------- 
    */
  .visible-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .visible-hidden:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }

  /* buttons -------------------------------------- 
    */

  .custom-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    outline: 2px solid #88c0d0;
    background-color: inherit;
    color: #88c0d0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .custom-btn:hover {
    background-color: #d8dee920;
    color: #88c0d0;
  }
  .custom-btn:focus {
    outline: 3px solid #81a1c1;
    color: #88c0d0;
  }
  .primary-custom-btn {
    background-color: #88c0d0;
    color: #2e3440;
  }
  .secondary-custom-btn {
    background-color: inherit;
    color: #88c0d0;
  }
  .solo-custom-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  /* hero -------------------------------------- 
    */

  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  .intro-3 {
    color: #88c0d0;
    opacity: 75%;
  }

  .social-links {
    display: flex;
    gap: 0.5rem;
  }
  .cta-buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    padding: 3rem 0 3rem 0;
  }
  /* icons */
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .icon:hover {
    color: #81a1c1;
    transition: color 0.6s ease;
  }

  /* General content (About | Featured Projects | Education 
     Contact -------------------------------------- 
    */

  .content {
    scroll-margin-top: 5.5rem;
  }

  /* About -------------------------------------- 
    */
  .technical-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: fit-content;
  }
  .content-mid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content-inner {
    display: flex;
    flex-direction: column;
  }
  .sub-content-inner {
    display: flex;
    flex-direction: column;
    /* align-self: center; */
  }

  /* Featured Projects -------------------------------------- 
    */
  .parent-stacked-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 2rem 0 0 0;
  }
  .child-stacked-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .features {
    display: flex;
    flex-direction: column;
  }

  .text-with-icon {
    display: flex;
    gap: 0.5rem;
    text-decoration: underline;
    align-items: baseline;
  }
  .text-with-icon:hover {
    color: #81a1c1;
    transition: color 0.6s ease;
  }
}

/* Media Queries -------------------------------------- 
  */

/* ====== Small Devices (Phones) ====== -------------------------------------- 
  */

@media (max-width: 640px) {
  /* general */
  ul {
    display: flex;
    display: none;
    margin-bottom: 0;
  }

  /* hero */
  .hero-content {
    justify-content: start;
  }

  /* Primary CTA buttons */
  .cta-buttons {
    flex-direction: column;
  }

  /* hero */
  #profile-pic {
    /* width: 20rem; */
    width: 100%;
    height: 16rem;
  }

  #nav-ul {
    display: none;
  }
  nav {
    justify-content: space-between;
    display: none;
  }
}

/* ====== Medium Devices (Tablets) ====== -------------------------------------- 
    */
@media (min-width: 641px) and (max-width: 1024px) {
  /* general */

  /* hero */
  #profile-pic {
    /* width: 25rem; */
    width: 100%;
    height: 25rem;
  }
  .cta-buttons div,
  .cta-buttons a:nth-of-type(2) {
    display: none;
  }

  /* General content (About | Featured projects | Education 
     Contact -------------------------------------- 
    */
  .content-mid {
    flex-wrap: nowrap;
  }
}

/* ====== Large Devices (Laptops) ====== -------------------------------------- 
    */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* hero */
  #profile-pic {
    /* width: 25rem; */
    width: 100%;
    height: 25rem;
  }
  .cta-buttons div,
  .cta-buttons a:nth-of-type(2) {
    display: none;
  }

  /* General content (About | Featured projects | Education 
     Contact -------------------------------------- 
    */
  .content-mid {
    flex-wrap: nowrap;
  }
}

/* ====== Extra Large Devices (Desktops) ====== -------------------------------------- 
    */
@media (min-width: 1441px) and (max-width: 1920px) {
  /* hero */
  #profile-pic {
    /* width: 25rem; */
    width: 100%;
    height: 25rem;
  }
  .cta-buttons div,
  .cta-buttons a:nth-of-type(2) {
    display: none;
  }

  /* General content (About | Featured projects | Education 
  Contact -------------------------------------- 
  */
  .content-mid {
    flex-wrap: nowrap;
  }
}

/* ====== Ultra-Wide Screens (4K & Beyond) ====== -------------------------------------- 
    */
@media (min-width: 1921px) {
  /* general */
  h2 {
    padding-bottom: 2rem;
  }
  h4 {
    color: #88c0d0;
  }

  /* hero */
  .cta-buttons div,
  .cta-buttons a:nth-of-type(2) {
    display: none;
  }

  /* General content (About | Featured projects | Education 
     Contact -------------------------------------- 
    */
  .content-mid {
    flex-wrap: nowrap;
  }
}
